.navbar {
  background-color: black !important;
  .nav-link {
    color: whitesmoke !important;
  }
  .navbar-brand {
    color: whitesmoke !important;
    font-weight: 1000;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}
